n8n-ssh-claude-workflow.json
{
  "name": "Telegram Claude SSH",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "telegram-claude-trigger",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Claude Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-voice",
              "leftValue": "={{ $json.message.voice }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-voice",
      "name": "Is Voice Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "operation": "getFile",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "id": "get-voice-file",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [640, 200],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Claude Bot"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.result.file_path ? 'https://api.telegram.org/file/bot' + $credentials.telegramApi.accessToken + '/' + $json.result.file_path : '' }}",
        "options": {}
      },
      "id": "download-voice",
      "name": "Download Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 200]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "whisper-transcribe",
      "name": "Whisper Transcribe",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [1080, 200],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get or create session ID from chat\nconst chatId = $('Telegram Trigger').first().json.message.chat.id;\nconst messageText = $input.first().json.text || $('Telegram Trigger').first().json.message.text || '';\n\n// Check for /new command to start fresh session\nlet sessionId = $getWorkflowStaticData('global')[`session_${chatId}`];\n\nif (messageText.startsWith('/new') || !sessionId) {\n  // Generate new session ID\n  sessionId = 'tg-' + chatId + '-' + Date.now();\n  $getWorkflowStaticData('global')[`session_${chatId}`] = sessionId;\n}\n\n// Extract prompt (remove /new if present)\nlet prompt = messageText.replace(/^\\/new\\s*/, '').trim();\nif (!prompt) prompt = 'Hello, what can you help me with?';\n\nreturn {\n  sessionId,\n  chatId,\n  prompt,\n  isNewSession: messageText.startsWith('/new')\n};"
      },
      "id": "session-manager",
      "name": "Session Manager",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 400]
    },
    {
      "parameters": {
        "command": "={{ '/opt/homebrew/bin/claude -p ' + JSON.stringify($json.prompt) + ' --session-id ' + $json.sessionId }}",
        "options": {}
      },
      "id": "ssh-claude",
      "name": "SSH Claude",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [860, 400],
      "credentials": {
        "sshPassword": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "Mac SSH"
        }
      },
      "notes": "SSH to Mac via VPN: Host=192.168.241.37, Port=22, User=gergokiss"
    },
    {
      "parameters": {
        "jsCode": "// Format response for Telegram\nconst input = $input.first().json;\nconst sessionManager = $('Session Manager').first().json;\n\nlet response = input.stdout || input.stderr || 'No response from Claude';\n\n// Truncate if too long (Telegram limit 4096)\nif (response.length > 4000) {\n  response = response.substring(0, 4000) + '\\n\\n[truncated]';\n}\n\n// Add session info\nconst sessionTag = sessionManager.isNewSession ? ' (new session)' : '';\n\nreturn {\n  chatId: sessionManager.chatId,\n  text: response,\n  sessionTag\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 400]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "telegram-reply",
      "name": "Reply to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1300, 400],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Claude Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pass transcribed text through\nconst transcription = $input.first().json.text;\nreturn { text: transcription };"
      },
      "id": "voice-to-text",
      "name": "Voice to Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 200]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{"node": "Is Voice Message?", "type": "main", "index": 0}]]
    },
    "Is Voice Message?": {
      "main": [
        [{"node": "Get Voice File", "type": "main", "index": 0}],
        [{"node": "Session Manager", "type": "main", "index": 0}]
      ]
    },
    "Get Voice File": {
      "main": [[{"node": "Download Voice", "type": "main", "index": 0}]]
    },
    "Download Voice": {
      "main": [[{"node": "Whisper Transcribe", "type": "main", "index": 0}]]
    },
    "Whisper Transcribe": {
      "main": [[{"node": "Voice to Text", "type": "main", "index": 0}]]
    },
    "Voice to Text": {
      "main": [[{"node": "Session Manager", "type": "main", "index": 0}]]
    },
    "Session Manager": {
      "main": [[{"node": "SSH Claude", "type": "main", "index": 0}]]
    },
    "SSH Claude": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    },
    "Format Response": {
      "main": [[{"node": "Reply to Telegram", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
