n8n-workflow-gergo-telegram-claude.json
{
  "name": "Gergo Telegram Claude Code",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "claude-commands",
        "options": {}
      },
      "id": "webhook-commands",
      "name": "Receive Telegram Commands",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "claude-commands"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "claude-notify",
        "options": {}
      },
      "id": "webhook-notify",
      "name": "Receive Claude Output",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 600],
      "webhookId": "claude-notify"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "claude-voice",
        "options": {}
      },
      "id": "webhook-voice",
      "name": "Receive Voice Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 900],
      "webhookId": "claude-voice"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-new",
              "leftValue": "={{ $json.body.text }}",
              "rightValue": "/new",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-command-type",
      "name": "Is /new Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-status",
              "leftValue": "={{ $json.body.text }}",
              "rightValue": "/status",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-status",
      "name": "Is /status?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_MAC_IP:8765/api/command",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "new"
            },
            {
              "name": "prompt",
              "value": "={{ $json.body.text.replace('/new ', '').replace('/new', '') }}"
            },
            {
              "name": "chat_id",
              "value": "={{ $json.body.chat_id }}"
            },
            {
              "name": "message_id",
              "value": "={{ $json.body.message_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-new-session",
      "name": "Create New Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_MAC_IP:8765/api/command",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "status"
            },
            {
              "name": "chat_id",
              "value": "={{ $json.body.chat_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-status",
      "name": "Get Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_MAC_IP:8765/api/command",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "message"
            },
            {
              "name": "text",
              "value": "={{ $json.body.text }}"
            },
            {
              "name": "chat_id",
              "value": "={{ $json.body.chat_id }}"
            },
            {
              "name": "message_id",
              "value": "={{ $json.body.message_id }}"
            },
            {
              "name": "reply_to_message_id",
              "value": "={{ $json.body.reply_to_message_id }}"
            },
            {
              "name": "session",
              "value": "={{ $json.body.session }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-message",
      "name": "Route Message to Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 500]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "telegramApi",
        "requestMethod": "POST",
        "endpoint": "sendMessage",
        "bodyParametersJson": "={\n  \"chat_id\": {{ $json.body.chat_id }},\n  \"text\": {{ JSON.stringify($json.body.message) }},\n  \"parse_mode\": \"HTML\",\n  \"reply_to_message_id\": {{ $json.body.reply_to_message_id || 'null' }}\n}"
      },
      "id": "telegram-send",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [460, 600],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Claude output for Telegram\nconst input = $input.first().json.body;\n\nconst typeEmoji = {\n  'update': '📝',\n  'waiting': '❓',\n  'complete': '✅',\n  'error': '❌',\n  'new': '🚀'\n};\n\nconst emoji = typeEmoji[input.type] || '📌';\nconst session = input.session || 'unknown';\nlet message = input.message || '';\n\n// Clean up message\nmessage = message\n  .replace(/^⏺ /gm, '')  // Remove bullet markers\n  .substring(0, 3500);    // Telegram limit\n\nconst formatted = `${emoji} <b>[${session}]</b>\\n\\n<pre>${message}</pre>`;\n\nreturn {\n  chat_id: input.chat_id || '302680207',\n  message: formatted,\n  reply_to_message_id: input.reply_to_message_id,\n  session: session\n};"
      },
      "id": "format-output",
      "name": "Format for Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 750]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "telegramApi",
        "requestMethod": "POST",
        "endpoint": "sendMessage",
        "bodyParametersJson": "={\n  \"chat_id\": {{ $json.chat_id }},\n  \"text\": {{ JSON.stringify($json.message) }},\n  \"parse_mode\": \"HTML\"\n}"
      },
      "id": "telegram-send-formatted",
      "name": "Send Formatted to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [700, 750],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transcribe voice and enhance prompt\nconst input = $input.first().json;\n\n// Voice transcription would happen here via Whisper API\n// For now, pass through\n\nreturn {\n  text: input.transcription || 'Voice message received',\n  chat_id: input.body?.chat_id,\n  message_id: input.body?.message_id\n};"
      },
      "id": "process-voice",
      "name": "Transcribe Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 900]
    },
    {
      "parameters": {
        "jsCode": "// Agent to enhance/process prompts before sending to Claude\nconst input = $input.first().json;\n\n// Could add context, improve prompt, etc.\n// For now, pass through\n\nreturn {\n  ...input,\n  enhanced_prompt: input.text\n};"
      },
      "id": "prompt-agent",
      "name": "Prompt Enhancement Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 900]
    }
  ],
  "connections": {
    "Receive Telegram Commands": {
      "main": [
        [
          {
            "node": "Is /new Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is /new Command?": {
      "main": [
        [
          {
            "node": "Create New Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is /status?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is /status?": {
      "main": [
        [
          {
            "node": "Get Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Message to Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Claude Output": {
      "main": [
        [
          {
            "node": "Format for Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Telegram": {
      "main": [
        [
          {
            "node": "Send Formatted to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Voice Message": {
      "main": [
        [
          {
            "node": "Transcribe Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice": {
      "main": [
        [
          {
            "node": "Prompt Enhancement Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Claude Code",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "Telegram",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
